.home-button-container {
  border: 2px solid var(--primary-light);
  width: 10em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.home-button-container:hover {
  animation: color-transition 0.55s forwards;
}

@keyframes color-transition {
  0% {
    background-color: none;
  }

  100% {
    background-color:  var(--accent-color);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in-visible {
  opacity: 1;
  transform: translateX(0);
}
