#navbar-container {
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100vw;
  background-color: var(--secondary-light)
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.filler-div {
  height: 14vh;
}

.navbar-link {
  width: 10vw;
  color: var(--secondary-dark);
  font-weight: bold;
  user-select: none;
}