#navbar-container {
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100vw;
  background-color: var(--secondary-light)
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.navbar-link {
  width: 10vw;
  color: var(--secondary-dark);
  font-weight: bold;
  user-select: none;
}