#navbar-container {
  top: 0px;
  height: 7vh;
  width: 100vw;
  background-color: var(--secondary-light);
  z-index: 5;
}

.link-container {
  width: 60vw;
  height: 7vh;
  margin: 0 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-link {
  width: 10vw;
  color: var(--secondary-dark);
  font-weight: bold;
  user-select: none;
}